  <div class="header page-width">
    <div class="logo-div">
      <div><img src=" ${IVY_LOGO} " class="ivy-logo" /></div>
      <div><img src=" ${COMPANY_LOGO} " class="company-logo" /></div>
    </div>
  </div>

  <div class="container first-page page-width">
    <h1>REPORT_TYPE</h1>
    <div
      class="hero-img"
      style="height: 500px; width: auto; background-position: center"
    >
      <img src=" ${PROPERTY_IMAGE} " />
    </div>
  </div>

  <div class="container page-width">
    <table class="first-table">
      <tr>
        <td class="label">Report date</td>
        <td>REPORT_DATE</td>
        <td class="label">Ref No</td>
        <td>REF_NUM</td>
      </tr>
      <tr>
        <td class="label">Address</td>
        <td>PROPERTY_ADDRESS , POSTCODE</td>
        <td class="label">Tenancy type</td>
        <td>TENANCY_TYPE</td>
      </tr>
      <tr>
        <td class="label">Compiled for</td>
        <td>CUSTOMER_NAME</td>
        <td class="label">Tenancy date</td>
        <td>TENANT_START_DATE</td>
      </tr>

      <tr>
        <td class="label">Property type</td>
        <td>PROPERTY_TYPE</td>
        <td class="label">Tenant names</td>
        <td rowspan="2">TENANTS</td>
      </tr>
    </table>

    <div class="section">
      <div class="text">
        <p>
          <a href=" ${GALLERY_URL} " target="_blank" class="btn"
            >View photo gallery</a
          >
        </p>
      </div>
    </div>
  </div>
