    <div class="container page-width">
        <h1 class="heading-h1">Declaration</h1>
        <div class="content">
           
            <div class="section">
                <div class="text">
                    <p> DECLARATION </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container page-width">
        <table class="signatures">
          <tr>
              <td>Inspector Name: ASSIGNED_PERSON_NAME </br>
                  Date of Report: REPORT_DATE <br/>
                  <b>Signature</b>
                  <img src=" ${SIGNATURE_URL} " class="ivy-logo"/>
                  <p style="color:blue;"> INSPECTOR_FEEDBACK </p>
                  </td>
                  FIRST_TENANT_TABLE
          </tr>
          <tr>
                SECOND_TENANT_TABLE
          </tr>
        </table>
    </div>


