    <div class="container page-width">
        <h1>Documents</h1>
        <p>The following documents are available for this property report.</p>
        <table>
            <tr>
                <th>Document title</th>
            </tr>

            DOCUMENTS_TABLE_ROWS
        </table>
    </div>

    <div class="container page-width">
        <h3>Confirmation</h3>
        <div class="section">
            <div class="text">
                <p>I can confirm safe receipt of this property report email sent to me on -date sent to tenant- and agree to receiving documents electronically, which I am successfully able to access with the above links.</p>
            </div>
        </div>
    </div>

    <div class="container page-width">
        <table class="signatures">
          <tr>
            TENANT_TABLE_ROWS
          </tr>
        </table>
    </div>
