    <div class="container page-width">
        <h1>Table of Contents</h1>
        <div class="section">
          <ol class="toc-list">
            <li>
              <a href="#">
                <span class="title">Homepage<span class="leaders" aria-hidden="true"></span></span>
                <span class="page"><span class="visually-hidden">Page</span>REF_NUM </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="title">Table of Contents<span class="leaders" aria-hidden="true"></span></span>
                <span class="page"><span class="visually-hidden">Page</span>REF_NUM </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="title">Definition<span class="leaders" aria-hidden="true"></span></span>
                <span class="page"><span class="visually-hidden">Page</span> REF_NUM </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="title">Schedule of Condition<span class="leaders" aria-hidden="true"></span></span>
                <span class="page"><span class="visually-hidden">Page</span> REF_NUM </span>
              </a>
            </li>

            DYNAMIC_CONTENT
            
            <li>
              <a href="#">
                <span class="title">Rooms & Areas<span class="leaders" aria-hidden="true"></span></span>
                <span class="page"><span class="visually-hidden">Page</span>  </span>
              </a>
              <ol role="list">
                ROOMS_AND_AREAS
              </ol>
            </li>
            <li>
              <a href="#">
                <span class="title">Declaration<span class="leaders" aria-hidden="true"></span></span>
                <span class="page"><span class="visually-hidden">Page</span> REF_NUM </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="title">Disclaimer<span class="leaders" aria-hidden="true"></span></span>
                <span class="page"><span class="visually-hidden">Page</span> REF_NUM </span>
              </a>
              
              DOCUMENTS

            </li>
          </ol>
        </div>
    </div>


