        <div class="container page-width">
            <h1> DYNAMIC_TITLE </h1>
            <table>
                <tr>
                    <th>Question</th>
                    <th style="width:10%;">Response</th>
                </tr>
                QUESTION_RESPONSES
            </table>
        </div>
    
        <div class="container page-width">
            <div class="inspectornotes">
            <h3>Inspector Notes</h3>
            <div class="section">
                <div class="text">
                    <p> COMMENTS </p>
                </div>
            </div>
        </div>
        <div class="propertynotes">
            <h3>Property Information</h3>
            <div class="section">
                <div class="text">
                    <p> PROPERTY_INFORMATION </p>
                </div>
            </div>
        </div>
        </div>


