
        <div class="container meters page-width" >
            <h1>Meters</h1>
            <table>
                <tr>
                    <th>Type</th>
                    <th>Location</th>
                    <th>Serial No.</th>
                    <th>Check In Reading</th>
                    <th>Check Out Reading</th>
                </tr>
                METER_DESCRIPTIONS
            </table>
        </div>
    
        <div class="container page-width">
            <div class="inspectornotes">
            <h3>Inspector Notes</h3>
            <div class="section">
                <div class="text">
                    <p> COMMENTS </p>
                </div>
            </div>
            </div>
        </div>
    
        


