  <!-- page 1  start-->
  <div class="header page-width">
    <div class="logo-div">
      <div><img src=" ${IVY_LOGO} " class="ivy-logo" /></div>
      <div><img src=" ${COMPANY_LOGO} " class="company-logo" /></div>
    </div>
  </div>

  <div class="container first-page page-width">
    <h1>REPORT_TYPE</h1>
    <div
      class="hero-img"
      style="height: 500px; width: auto; background-position: center"
    >
      <img src=" ${PROPERTY_IMAGE} " />
    </div>
  </div>

  <div class="container page-width">
    <table class="first-table">
      <tr>
        <td class="label">Report date</td>
        <td>REPORT_DATE</td>
        <td class="label">Ref No</td>
        <td>REF_NUM</td>
      </tr>
      <tr>
        <td class="label">Address</td>
        <td>PROPERTY_ADDRESS , POSTCODE</td>
        <td class="label">Tenancy type</td>
        <td>TENANCY_TYPE</td>
      </tr>
      <tr>
        <td class="label">Compiled for</td>
        <td>CUSTOMER_NAME</td>
        <td class="label">Tenancy date</td>
        <td>TENANT_START_DATE</td>
      </tr>

      <tr>
        <td class="label">Property type</td>
        <td>PROPERTY_TYPE</td>
        <td class="label">Tenant names</td>
        <td rowspan="2">TENANTS</td>
      </tr>
    </table>

    <div class="section">
      <div class="text">
        <p>
          <a href=" ${GALLERY_URL} " target="_blank" class="btn"
            >View photo gallery</a
          >
        </p>
      </div>
    </div>
  </div>
  <!-- page 1  end-->

  <!-- page 2  start-->
  <div class="container page-width">
    <h1>Table of Contents</h1>
    <div class="section">
      <ol class="toc-list">
        <li>
          <a href="#">
            <span class="title"
              >Homepage<span class="leaders" aria-hidden="true"></span
            ></span>
            <span class="page"><span class="visually-hidden">Page</span> </span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="title"
              >Table of Contents<span class="leaders" aria-hidden="true"></span
            ></span>
            <span class="page"><span class="visually-hidden">Page</span> </span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="title"
              >Definition<span class="leaders" aria-hidden="true"></span
            ></span>
            <span class="page"
              ><span class="visually-hidden">Page</span> REF_NUM
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="title"
              >Schedule of Condition<span
                class="leaders"
                aria-hidden="true"
              ></span
            ></span>
            <span class="page"
              ><span class="visually-hidden">Page</span> REF_NUM
            </span>
          </a>
        </li>

        DYNAMIC_CONTENT

        <li>
          <a href="#">
            <span class="title"
              >Rooms & Areas<span class="leaders" aria-hidden="true"></span
            ></span>
            <span class="page"><span class="visually-hidden">Page</span> </span>
          </a>
          <ol role="list">
            ROOMS_AND_AREAS
          </ol>
        </li>
        <li>
          <a href="#">
            <span class="title"
              >Declaration<span class="leaders" aria-hidden="true"></span
              ><span class="leaders" aria-hidden="true"></span
            ></span>
            <span class="page"
              ><span class="visually-hidden">Page</span> REF_NUM
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="title"
              >Disclaimer<span class="leaders" aria-hidden="true"></span
            ></span>
            <span class="page"
              ><span class="visually-hidden">Page</span> REF_NUM
            </span>
          </a>

          DOCUMENTS
        </li>
      </ol>
    </div>
  </div>
  <!-- page 2  end-->

  <!-- page 3  start-->
  <div class="container page-width">
    <h1>Definitions</h1>
    <div class="section">
      <div class="text">
        <p><strong>Definition of condition</strong></p>
        <p>
          All items in the report are assumed to be in good, working and
          undamaged condition unless qualified by a marginal note.
        </p>
        <p>
          Factors taken into account when assessing condition levels in the
          property, include but not limited to: chips, scratches, dents, cracks,
          peeling paint, rusting, discolouration, weathering and functionality.
        </p>
      </div>
    </div>
    <div class="section">
      <div class="text">
        <p>
          The following terms have been used in the report to accurately detail
          the state and condition of items:
        </p>
      </div>
    </div>
  </div>

  <div class="container definition page-width">
    <table>
      <tr>
        <td class="excellent">Excellent</td>
        <td>
          Item/area is brand new and evidenced in original manufacturers
          packaging and/or freshly painted.
        </td>
      </tr>
      <tr>
        <td class="good">Good</td>
        <td>
          Item/area is good and looks new and free from any marks and defects.
        </td>
      </tr>
      <tr>
        <td class="fair">Fair</td>
        <td>
          Item/area is fair and has minor signs of wear and/or marks and
          defects.
        </td>
      </tr>
      <tr>
        <td class="poor">Poor</td>
        <td>
          Item/area is poor and has significant signs of wear and/or marks and
          defects
        </td>
      </tr>
    </table>
  </div>

  <div class="container page-width">
    <div class="section">
      <div class="text">
        <p><strong>Definition of cleanliness</strong></p>
        <p>
          All items in the report are assumed to be in clean condition unless
          qualified by a marginal note. Factors taken into account when
          assessing cleanliness levels in the property, include but not limited
          to: litter, dust, cobwebs, hair, grease marks, mold and mildew, liquid
          stains and dirt and grime.
        </p>
      </div>
    </div>
    <div class="section">
      <div class="text">
        <p>
          The following terms have been used in the report to accurately detail
          the cleanliness level of items:
        </p>
      </div>
    </div>
  </div>

  <div class="container definition page-width">
    <table>
      <tr>
        <td class="excellent">Excellent</td>
        <td>
          Item/area is brand new and evidenced in original manufacturers
          packaging and/or freshly painted.
        </td>
      </tr>
      <tr>
        <td class="good">Good</td>
        <td>
          Item/area is clean and has been washed down and free from dirt, dust
          and/or grease.
        </td>
      </tr>
      <tr>
        <td class="fair">Fair</td>
        <td>
          Item/area is fair and has minor dirt, dust and/or grease present and
          requires wipe down.
        </td>
      </tr>
      <tr>
        <td class="poor">Poor</td>
        <td>
          Item/area is poor and has significant dirt, dust and/or grease and
          requires a professional clean.
        </td>
      </tr>
    </table>
  </div>
  <!-- page 3  end-->

  <!-- page 4  start-->
  <div class="container schedule page-width">
    <h1>Schedule of Condition</h1>
    <table>
      <tr>
        <th>Room/Area</th>
        <th>Description</th>
      </tr>

      ROOMS_AND_AREAS_DESCRIPTIONS
    </table>
  </div>
  <!-- page 4  end-->

  <!-- page 5  start-->
  <div class="container page-width">
    <h1>DYNAMIC_TITLE</h1>
    <table>
      <tr>
        <th>Question</th>
        <th style="width: 10%">Response</th>
      </tr>
      QUESTION_RESPONSES
    </table>
  </div>

  <div class="container page-width">
    <div class="inspectornotes">
      <h3>Inspector Notes</h3>
      <div class="section">
        <div class="text">
          <p>COMMENTS</p>
        </div>
      </div>
    </div>
    <div class="propertynotes">
      <h3>Property Information</h3>
      <div class="section">
        <div class="text">
          <p>PROPERTY_INFORMATION</p>
        </div>
      </div>
    </div>
  </div>

  <!-- page 5  end-->

  <!-- page 6  start-->
  <div class="container maintenance page-width">
    <h1>Maintenance Overview</h1>

    MAINTENANCE_DESCRIPTIONS
  </div>
  <!-- page 6  end-->

  <!-- page 7 start-->
  <div class="container meters page-width">
    <h1>Meters</h1>
    <table>
      <tr>
        <th>Type</th>
        <th>Location</th>
        <th>Serial No.</th>
        <th>Check In Reading</th>
        <th>Check Out Reading</th>
      </tr>
      METER_DESCRIPTIONS
    </table>
  </div>

  <div class="container page-width">
    <div class="inspectornotes">
      <h3>Inspector Notes</h3>
      <div class="section">
        <div class="text">
          <p>COMMENTS</p>
        </div>
      </div>
    </div>
  </div>
  <!-- page 7 end-->

  <!-- page 8  start-->
  <div class="container page-width">
    <h1>H&S Compliance</h1>
    <table>
      <tr>
        <th>Question</th>
        <th style="width: 10%">Response</th>
      </tr>
      QUESTION_RESPONSES
    </table>
  </div>

  <div class="container page-width">
    <div class="inspectornotes">
      <h3>Inspector Notes</h3>
      <div class="section">
        <div class="text">
          <p>COMMENTS</p>
        </div>
      </div>
    </div>
  </div>

  PHOTOS COMPLIANCE_DESCRIPTIONS

  <!-- page 8  end-->

  <!-- page 9  start-->
  <div class="container utilities page-width">
    <h1>Utilities</h1>
    <table>
      <tr>
        <th>Type</th>
        <th>Location</th>
      </tr>
      UTILITY_DESCRIPTIONS
    </table>
  </div>
  <div class="container page-width">
    <div class="inspectornotes">
      <h3>Inspector Notes</h3>
      <div class="section">
        <div class="text">
          <p>COMMENTS</p>
        </div>
      </div>
    </div>
  </div>

  <!-- page 9  end-->

  <!-- page 10  start-->
  ROOMS_AND_AREAS_DESCRIPTIONS  
  <!-- page 10  end-->

  <!-- page 11  start-->
  <div class="container page-width">
    <h1 class="heading-h1">Declaration</h1>
    <div class="content">
       
        <div class="section">
            <div class="text">
                <p> DECLARATION </p>
            </div>
        </div>
    </div>
</div>

<div class="container page-width">
    <table class="signatures">
      <tr>
          <td>Inspector Name: ASSIGNED_PERSON_NAME </br>
              Date of Report: REPORT_DATE <br/>
              <b>Signature</b>
              <img src=" ${SIGNATURE_URL} " class="ivy-logo"/>
              <p style="color:blue;"> INSPECTOR_FEEDBACK </p>
              </td>
              FIRST_TENANT_TABLE
      </tr>
      <tr>
            SECOND_TENANT_TABLE
      </tr>
    </table>
</div>
  <!-- page 11  end-->

  <!-- page 12  start-->
  <div class="container page-width">
    <h1 class="heading-h1">Disclaimer</h1>
    <div class="content">
        <div class="section">
            <p> DISCLAIMER </p>
        </div>

        <div class="section">
            <strong>AUTHORISED USAGE</strong>
            <p><strong>COPYRIGHT IVY INVENTORY © ALL RIGHTS RESERVED.</strong></p>
        </div>
    </div>
</div>

  <!-- page 12  end-->
  <!-- page 13  start-->
  <div class="container page-width">
    <h1>Documents</h1>
    <p>The following documents are available for this property report.</p>
    <table>
        <tr>
            <th>Document title</th>
        </tr>

        DOCUMENTS_TABLE_ROWS
    </table>
</div>

<div class="container page-width">
    <h3>Confirmation</h3>
    <div class="section">
        <div class="text">
            <p>I can confirm safe receipt of this property report email sent to me on -date sent to tenant- and agree to receiving documents electronically, which I am successfully able to access with the above links.</p>
        </div>
    </div>
</div>

<div class="container page-width">
    <table class="signatures">
      <tr>
        TENANT_TABLE_ROWS
      </tr>
    </table>
</div>
  <!-- page 13  end-->
